/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* VARIABLES */
:root {
  --body-bg: #fef2dc;
  --header-text: #fef7e9;
  --body-text: #050505;
  --headings: #b65949;
  --primary: #006361;
  --primary-shadow: #0d4645;
  --secondary: #d8a25a;
  --secondary-shadow: #ab8147;
  --white: #ffffff;

  font-family: "Young Serif", serif;
  text-align: center;
}

#closeIcon,
.mobile-nav,
.pc-nav {
  display: none;
}


svg {
  width: 30px;
}

/* BASE STYLES */
body {
  background-color: var(--body-bg);
}

main {
  margin-inline: 1rem;
  background-color: var(--white);
  padding: 3rem 1rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3.5rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 2.5rem;
  line-height: 1;
}

h1, h2 {
  color: var(--headings);
  margin-bottom: 1rem;
}

h1, h2, h3 {
  font-weight: 400;
}

.section-square,
.main-img-bg {
  rotate: 10deg;
}

.hero-container p :last-of-type,
.about-container p:last-of-type {
  margin-bottom: 1.5rem;
}


/* UTILITY CLASSES */
.btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: var(--header-text);
  background-color: var(--secondary);
  box-shadow: 0 2px var(--secondary-shadow);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
  background-color: var(--secondary-shadow);  
}

.section-square {
  background-color: var(--primary);
  width: 10px;
  height: 10px; 
  margin-bottom: 3rem;
}

.body-text {
  font-family: "Open Sans", sans-serif;
  color: var(--body-text);
  font-size: .75rem;
  line-height: 2;
  margin-bottom: 1rem;
}


/* HEADER */
header {
  position: relative;
  background-color: var(--primary);
  color: var(--header-text);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-btn {
  background: none;
  border: none;
  height: 24px;
  width: 24px;
  cursor: pointer;
  fill: var(--header-text);
  transition: fill 0.3s ease;
}

.menu-btn:hover {
  fill: var(--secondary);
}

/* MOBILE NAV */
.mobile-nav {
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  font-size: 2.5rem;
  padding-top: 2rem;
  background-color: var(--primary);
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.mobile-nav.open {
  transform: translateX(0);
}

.mobile-nav li {
  margin-bottom: 2rem;
}

.mobile-nav a {
  transition: color 0.3s ease;
}

.mobile-nav a:hover {
  color: var(--secondary);
}

/* HERO  */
.hero-img-container {  
  display: flex;
  justify-content: center;
  margin-bottom: 3rem; 
}

.main-img-bg {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: var(--secondary);

}

.hero-img-container img{
  position: absolute;
  width: 200px;
  background-color: var(--body-bg);  
}

  .hero-container p {
    font-size: 1.2rem;
    color: var(--secondary);
  }

  .hero-container p:last-of-type {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }


  /* ABOUT SECTION */

  .about-container p {
    margin-bottom: 1rem;
  }




/* MEDIA QUERIES */

@media (min-width: 1024px) {
    .menu-btn,
    .mobile-nav {
      display: none;
    }

    .pc-nav {
      display: block;
    }

    header, main {
        margin-inline: 1rem;
        padding-inline: 3rem;
    }

    .pc-nav ul {
        display: flex;
        gap: 3rem;        
    }

    .hero-container {
      flex-direction: row-reverse;
      justify-content: space-between;
      text-align: left;
    }

}
